In [1]:
import pandas as pd
import numpy as np

In [2]:
#in millions
g7pop = pd.Series([35.467, 63.952, 80.940, 60.665, 127.061, 64.511, 318.523])
g7pop

# a Series can only hold one data type dtype: float64

0     35.467
1     63.952
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [3]:
# a pandas series can have a name. The name is used to document the purpose of the series
g7pop.name = 'G7 Population in Millions'
g7pop

0     35.467
1     63.952
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in Millions, dtype: float64

Series are similar to numpy arrays

In [4]:
g7pop.dtype

dtype('float64')

In [5]:
g7pop.values

array([ 35.467,  63.952,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [6]:
type(g7pop.values)

numpy.ndarray

In [7]:
g7pop[0:3] #indexing is similar to numpy arrays

0    35.467
1    63.952
2    80.940
Name: G7 Population in Millions, dtype: float64

In [8]:
g7pop.index

RangeIndex(start=0, stop=7, step=1)

In [9]:
l = {'a', 'b', 'c'}

In [10]:
#both numpy array/py list and pandas Series are odered lists but the fundamental difference is that,
#a Series can allow you to change the index from numbers/positions to any thin you need. 
#Example shown below.

g7pop.index = {
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States'
    
}
g7pop

#it's important because

Germany            35.467
United Kingdom     63.952
Japan              80.940
United States      60.665
Italy             127.061
France             64.511
Canada            318.523
Name: G7 Population in Millions, dtype: float64

## Other ways to create series in Pandas

In [11]:
#way 2
pd.Series({
    'Canada':35.467,
    'France':63.952,
    'Germany':80.940,
    'Italy':60.665,
    'Japan':127.061,
    'United Kingdom':64.511,
    'United States':318.523
    
}, name='G7 Population in Millions')

Canada             35.467
France             63.952
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in Millions, dtype: float64

In [12]:
#way 3
pd.Series([35.467, 63.952, 80.940, 60.665, 127.061, 64.511, 318.523],
          ['Canada', 'France', 'Germany', 'Italy', 'Japan', 'United Kingdom', 'United States'],
          name='G7 Population in Millions')

Canada             35.467
France             63.952
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in Millions, dtype: float64

### Indexing

In [14]:
g7pop['Canada']

318.523

In [ ]:
#numeric positions can also

z